<html>
<head>
    <title>MEASURES</title>
</head>
<body>
<form method="POST" action="/submit1">
    <label for="gender">gender</label>
    <input type="text" id="gender" name="gender" required><br><br>
    <label for="age">age</label>
    <input type="text" id="age" name="age" required><br><br>
    <label for="hypertension">hypertension</label>
    <input type="text" id="hypertension" name="hypertension" required><br><br>
    <label for="heart_disease">heart_disease</label>
    <input type="text" id="heart_disease" name="heart_disease" required><br><br>
    <label for="smoking_history">smoking_history</label>
    <input type="text" id="smoking_history" name="smoking_history" required><br><br>
    <label for="bmi">bmi</label>
    <input type="text" id="bmi" name="bmi" required><br><br>
    <label for="HbA1c_level">HbA1c_level</label>
    <input type="text" id="HbA1c_level" name="HbA1c_level" required><br><br>
    <label for="blood_glucose_level">blood_glucose_level</label>
    <input type="text" id="blood_glucose_level" name="blood_glucose_level" required><br><br>
    
    
    
    
    
    <input type="submit" value="submit1">
</form>
</body>
</html>